<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/images/clock.png" class="d-block w-100" alt="...">
    </div>
</div>

<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <h2 class="font-weight-light">Track and mine the best out of your goals</h2>
        <p>"A dream without a plan is just a wish"</p>
    </div>
</section>