<link rel="stylesheet" type="text/css" href="/css/listGoal.css" />


<div class="card-columns">
    {{#each allGoals}}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{goalName}}</h5>
            <p class="card-text">{{goalDescription}}</p>
            <p class="card-text"><small class="text-muted">{{tag}}</small></p>

            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">25%</div>
            </div>
        </div>
    </div>
    {{/each}}
</div>